body {
    background-color: rgb(241, 225, 87);
}

.card {
    position: relative; /* Change position to relative */
    display: inline-block; /* Display cards as inline blocks */
    margin: 25px; /* Add some margin between cards */
    border-radius: 25px;
    background: #16ccb0;
    padding: 20px;
    box-sizing: border-box; /* Change box-sizing to border-box */
    width: 300px; /* Set a fixed width for each card */
    border-color: black;
  }
  
  .content {
    /* Styles for the content section */
    font-family: cursive;
  }
  
  .forecast {
    /* Styles for the forecast section */
    font-family: cursive;
  }
  
  h1 {
    /* Styles for the Title */
    font-family: fantasy;
    text-align: center;
  }

  .cityForm {
    position: relative;
    display: inline-block;
    margin: 15px;
    border-radius: 10px;
    padding: 15px;
    box-sizing: content-box;
    width: 205px;
    border-color: black;
    background: #16ccb0;
  }

  input {
    font-family: cursive;
    border-radius: 25px;
  }

  button {
    font-family: cursive;
    border-radius: 25px;
  }
  
  #welcomeMessage {
    font-family: cursive;
    text-align: center;
  }
  