body {
    background-color: rgb(241, 225, 87);
}

.card {
    position: relative; /* Change position to relative */
    display: inline-block; /* Display cards as inline blocks */
    margin: 25px; /* Add some margin between cards */
    border-radius: 25px;
    background: #91d7e4;
    padding: 20px;
    box-sizing: border-box; /* Change box-sizing to border-box */
    width: 300px; /* Set a fixed width for each card */
  }
  
  .content {
    /* Styles for the content section */
  }
  
  .forecast {
    /* Styles for the forecast section */
  }
  
  h1 {
    /* Styles for the Title */
    font-family: fantasy;
    text-align: center;
  }
  